<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>{% block title %}{% endblock %}</title>

        <link href="{{ asset('bundles/app/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/app/css/ie10-viewport-bug-workaround.css') }}" rel="stylesheet">
        {% block stylesheets %}{% endblock %}
        <link href="{{ asset('bundles/app/css/style.css') }}" rel="stylesheet">

        <!--[if lt IE 9]>
        <script src="{{ asset('public/js/ie8-responsive-file-warning.js') }}"></script>
        <![endif]-->
        <script src="{{ asset('bundles/app/js/ie-emulation-modes-warning.js') }}"></script>
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('app.product.main') }}">Cgrays</a>
                </div>
                <div class="collapse navbar-collapse">
                    {% set name = app.request.attributes.get("_route") %}
                    <ul class="nav navbar-nav">
                        <li {%  if name == "main" %}class="active"{% endif %}><a href="{{ path('app.product.main') }}">Товары</a></li>
                        <li {%  if name == "user_sell" %}class="active"{% endif %}><a href="{{ path('app.user.sell') }}">Вещи на продажу</a></li>
                        <li {%  if name == "basket" %}class="active"{% endif %}><a href="{{ path('app.basket.basket') }}">Корзина</a></li>
                    </ul>
                    {% if is_granted("ROLE_USER") %}
                        <ul class="nav navbar-nav navbar-right">
                            <li {%  if name == "user" %}class="active"{% endif %}><a href="{{ path('app.user.main') }}">Профиль</a></li>
                            <li>
                                <a href="#">
                                    <span class="text-danger">Баланс: {{ app.user.balance }} <span class="glyphicon glyphicon-rub"></span></span>
                                </a>
                            </li>
                        </ul>
                    {% else %}
                        {% include "SteamBundle:Login:login.html.twig" %}
                    {% endif %}

                </div>
            </div>
        </nav>
        <div class="container">
            {% block body %}{% endblock %}
        </div>
        <footer class="footer">
            <div class="container top20">
                <div class="row">
                    <div class="col-lg-12">
                        <p class="text-center text-warning">
                            <span>Ссылка на конткат</span>
                            <span>Ссылка на facebook</span>
                            <span>Ссылка на youtube</span>
                            <span>Ссылка на instagram</span>
                        </p>
                        <p><small class="text-muted text-left"><span class="glyphicon glyphicon-copyright-mark"></span> Все права защищены 2017</small></p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- JavaScript -->
        <script src="{{ asset('bundles/app/js/jquery-3.2.0.min.js') }}"></script>
        <script src="{{ asset('bundles/app/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('bundles/app/js/ie10-viewport-bug-workaround.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
