<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport"    content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">

        <title>{% block title %}{% endblock %}</title>

        <link rel="shortcut icon" href="">

        <link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
        <link rel="stylesheet" href="{{ asset('bundles/app/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/app/css/font-awesome.min.css') }}">
        {#<link href="{{ asset('bundles/app/css/ie10-viewport-bug-workaround.css') }}" rel="stylesheet">#}

        <!-- Custom styles for our template -->
        <link rel="stylesheet" href="{{ asset('bundles/app/css/bootstrap-theme.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/app/css/main.css') }}">
        {% block stylesheets %}{% endblock %}
        <link href="{{ asset('bundles/app/css/style.css') }}" rel="stylesheet">

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="/bundles/app/js/html5shiv.js"></script>
        <script src="/bundles/app/js/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <!-- Fixed navbar -->
        <div class="navbar navbar-inverse navbar-fixed-top headroom" >
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('app.skins.main') }}">
                        <img src="{{ asset('bundles/app/image/icon_cgrays.png') }}" alt="Cgrays" class="logo-cgrays" />
                        Cgrays
                    </a>
                </div>
                <div class="navbar-collapse collapse">
                    {% set name = app.request.attributes.get("_route") %}
                    {% set gameName = app.request.attributes.get("gameName") %}
                    <ul class="nav navbar-nav pull-right">
                        <li {%  if name == "app.skins.main" %}class="active"{% endif %}><a href="{{ path('app.skins.main') }}">Товары</a></li>
                        <li {%  if name == "app.user.sell" %}class="active"{% endif %}><a href="{{ path('app.user.sell') }}">Вещи на продажу</a></li>
                        <li {%  if name == "app.news.list" %}class="active"{% endif %}><a href="{{ path('app.news.list') }}">Новости</a></li>
                        {% if is_granted("ROLE_USER") %}
                            <li {%  if name == "app.chat.chat" %}class="active"{% endif %}><a href="{{ path('app.chat.chat') }}">Чат</a></li>
                            <li {%  if name == "app.basket.basket" %}class="active"{% endif %}><a href="{{ path('app.skins_trade.basket') }}">Корзина</a></li>
                            {% set username = app.user.username %}
                            <ul id="username" class="nav navbar-nav navbar-right" data-username="{{ username }}">
                                <li>
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        Баланс: {{ app.user.balance }} <span class="glyphicon glyphicon-rub text-danger"></span> <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('app.payment.payment_list') }}">История платежей</a></li>
                                        <li><a href="{{ path('app.payment.pay_in_out', { 'actionPay': 'in' }) }}">Пополнить баланс</a></li>
                                        <li><a href="{{ path('app.payment.pay_in_out', { 'actionPay': 'out' }) }}">Вывод средств</a></li>
                                    </ul>
                                </li>
                                <li><a href="{{ path('logout') }}">Выйти</a></li>
                            </ul>
                        {% else %}
                            <li>{% include "SteamBundle:Login:login.html.twig" %}</li>
                        {% endif %}
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
        <!-- /.navbar -->
        <header id="head" class="secondary"></header>

        {% block body %}{% endblock %}

        <footer id="footer" class="top-space footer">
            <div class="footer1">
                <div class="container">
                    <div class="row">

                        <div class="col-md-3 widget">
                            <h3 class="widget-title">Контакты</h3>
                            <div class="widget-body">
                                <p>
                                    <a href="mailto:cgrays.com@gmail.com">cgrays.com@gmail.com</a><br>
                                    <br>
                                    <br>
                                    <br>
                                </p>
                            </div>
                        </div>

                        <div class="col-md-3 widget">
                            <h3 class="widget-title">Паблики</h3>
                            <div class="widget-body">
                                <p class="follow-me-icons clearfix">
                                    <a href="https://twitter.com/CGRays_Com?lang=ru" target="_blank"><i class="fa fa-twitter fa-2"></i></a>
                                    <a href="https://vk.com/cgraysgroup" target="_blank"><i class="fa fa-vk fa-2"></i></a>
                                    <a href="https://www.instagram.com/cgrays_market/?hl=ru" target="_blank"><i class="fa fa-instagram fa-2"></i></a>
                                </p>
                            </div>
                        </div>

                        <div class="col-md-6 widget">
                            <h3 class="widget-title">О сайте</h3>
                            <div class="widget-body">
                                {{ render(controller('AppBundle:StaticPage:listNamePage')) }}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="footer2">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 widget">
                            <div class="widget-body">
                                <p class="simplenav">
                                    <a href="{{ path('app.skins.main') }}">Товары</a> |
                                    <a href="{{ path('app.user.sell') }}">Вещи на продажу</a> |
                                    <a href="{{ path('app.skins_trade.basket') }}">Корзина</a>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6 widget">
                            <div class="widget-body">
                                <p class="text-right">
                                    Copyright &copy; {{ "now"|date("Y") }}, Cgrays. Designed by <a href="http://gettemplate.com/" rel="designer">gettemplate</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <!-- JavaScript -->
        <script src="{{ asset('bundles/app/js/jquery-3.2.0.min.js') }}"></script>
        <script src="{{ asset('bundles/app/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('bundles/app/js/headroom.min.js') }}"></script>
        <script src="{{ asset('bundles/app/js/jQuery.headroom.min.js') }}"></script>
        <script src="{{ asset('bundles/app/js/template.js') }}"></script>
        <script src="{{ asset('bundles/app/js/socket.io.min.js') }}"></script>
        {% block javascripts %}{% endblock %}
        <script src="{{ asset('bundles/app/js/is-online.js') }}"></script>
    </body>
</html>
