{% extends 'base.html.twig' %}

{% block title %}Корзина{% endblock %}

{% block body %}
    <div class="container">
        <table class="table table-order">
            <tbody>
            {% if orders is defined %}
                {% for order in orders %}
                    <tr id="order-{{ order.id }}" class="order">
                        <td class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                            <a href="{{ path('app.skins.skins_price', { "id": order.price_id}) }}">
                                <img class="img-thumbnail" src="{{ asset(order.icon_url) }}" alt="{{ order.name }}" />
                            </a>
                        </td>
                        <td>
                            <h4 class="media-heading">{{ order.name }}</h4>
                            <div class="jumbotron">
                                <p><strong class="text-size24">{{ order.price }}</strong> <span class="glyphicon glyphicon-rub text-danger"></span></p>
                                <button data-order="{{ order.id }}" class="btn btn-action" data-toggle="modal" data-target="#remove-modal">
                                    Удалить
                                </button>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
        {%  if orders|length > 0 %}
        <div class="jumbotron">
            <p><strong>После покупки этот товар нельзя будет обменивать одну неделю.</strong></p>
            {{ form_start(form) }}
            <div class="form-group">
                <label>
                    {{ form_widget(form.check_rule) }} Я принимаю условия.
                </label>
            </div>
            {{ form_widget(form.submit) }}
            {{ form_end(form) }}
        </div>
        {% endif %}
    </div>

    <div id="remove-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Remove modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <p><strong>Вы действительно хотите удалить товаор из корзины ?</strong></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Нет</button>
                    <button id="remove-order" class="btn btn-action">Удалить</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/app/js/basket.js') }}"></script>
{% endblock %}
