{% extends 'base.html.twig' %}

{% block title %}Новости{% endblock %}

{% block body %}
    <div class="container top20">
        <div class="row">
            {% for news in pagination %}
                <div class="col-lg-12 bottom20">
                    <h4>
                        <a class="text-action" href="{{ path('app.news.news', {'id': news.id}) }}">{{ news.title }}</a>
                    </h4>
                    <p class="top20">{{ news.text|strlen(300)|raw }}</p>
                    <p>Дата публикации: <span class="text-muted text-sm">{{ news.createdAt.format('Y-m-d H:i:s') }}</span></p>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="container">
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/app/js/chat.js') }}"></script>
{% endblock %}
