{% extends 'base.html.twig' %}

{% block title %}{{ user.username }}{% endblock %}

{% block body %}
    <div class="container top20">
        <div class="row">
            <div class="col-lg-2">
                <img src="{{ asset(user.avatar) }}" class="img-thumbnail" />
            </div>
            <div class="col-lg-10">
                <h3 class="text-action">{{ user.username }}</h3>
                <p>
                    Баланс: <strong class="text-size24">{{ user.balance }}</strong>
                    <span class="glyphicon glyphihon-rub text-danger"></span>
                </p>
            </div>
        </div>
        <div class="jumbotron top20">
            <h4 class="top0">Товары на продаже:</h4>
        </div>
        <div class="row top20">
            {% for skin in skins %}
                <div class="col-xs-6 col-sm-4 col-md-3">
                    <div class="thumbnail">
                        <a href="{{ path('app.skins.skin', { "skinsPriceId": skin.id }) }}">
                            <img src="{{ asset(skin.skins.iconUrl) }}" alt="{{ skin.skins.name }}" />
                        </a>
                        <div class="caption">
                            <p>
                                <strong>{{ skin.price }} <span class="glyphicon glyphicon-rub text-danger"></span></strong>
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
