{% extends 'SonataAdminBundle:CRUD:edit.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/admin/css/cases-skins.css') }}">
{% endblock %}

{% block form %}
    {{ form_start(form) }}
        {{ form_errors(form) }}
        <div class="box box-primary">
            <div class="box-header">
                <h4 id="chapter-cases" class="box-title" data-cases-id="{{ object.id }}">
                    Кейсы
                </h4>
            </div>
            <div class="box-body">
                <div class="sonata-ba-collapsed-fields">
                    <div class="form-group">
                        {{ form_label(form.name) }}
                        <div class="sonata-ba-field sonata-ba-field-standard-natural">
                            {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.casesCategory) }}
                        <div class="sonata-ba-field sonata-ba-field-standard-natural">
                            {{ form_widget(form.casesCategory, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.casesDomain) }}
                        <div class="sonata-ba-field sonata-ba-field-standard-natural">
                            {{ form_widget(form.casesDomain, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.price) }}
                        <div class="sonata-ba-field sonata-ba-field-standard-natural">
                            {{ form_widget(form.price, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.file) }}
                        <div class="sonata-ba-field sonata-ba-field-standard-natural">
                            {% if object.image %}
                                {{ form_widget(form.file) }}
                            {% else %}
                                {{ form_widget(form.file, {'attr': {'required': 'required'}}) }}
                            {% endif %}
                        </div>
                    </div>
                    {% if object.image %}
                        <div class="form-group">
                            <img src="{{ asset(object.image) }}" class="img-thumbnail" />
                        </div>
                    {% endif %}
                    {# todo: Таблица с процентами #}
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Раритетность</th>
                            <th>Процент группы</th>
                            <th>Cкины/Цена скина/Процент предмета/картинки</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for rarity in formFilter.rarity.vars.choices %}
                            {% set rarityId = rarity.data.id %}
                            <tr class="rarity-bg-{{ rarityId }}">
                                <td class="rarity-{{ rarityId }}">{{ rarity.label }}</td>
                                <td>
                                    <div class="form-group">
                                        {% set sort = form.sort.vars.value|json_decode %}
                                        <input
                                                id="rarity-procent-{{ rarity.data.id }}"
                                                name="cases_skins_rarity[{{ rarityId }}]"
                                                class="form-control rarity-procent-value"
                                                value="{% if sort[rarityId] is defined %}{{ sort[rarityId].rarity }}{% endif %}"
                                                placeholder="Процент 0%"
                                                data-rarity-id="{{ rarity.data.id }}" />
                                    </div>
                                </td>
                                <td id="add-skins-rarity-{{ rarity.data.id }}" class="skins-check-cases">
                                    {% for skins in listCasesSkins.cases_skins %}
                                        {% if skins.rarity_id == rarityId %}
                                            <div id="skins-{{ skins.skins_id }}" class="form-inline">
                                                <img src="{{ asset(skins.icon_url) }}" class="img-responsive img-preview" />
                                                <div class="form-group">
                                                    <a href="{{ path('sonata_skins_edit', {id: skins.skins_id }) }}" target="_blank" class="control-label">
                                                        {{ skins.name }}
                                                    </a>
                                                    <input
                                                            id="rarity_{{ skins.skins_id }}"
                                                            class="form-control skins-procent"
                                                            name="cases_skins_skins[{{ skins.skins_id }}][procent]"
                                                            value="{{ skins.procent_skins }}"
                                                            placeholder="Процент %" />
                                                </div>
                                                <div class="form-group">
                                                    <input
                                                            class="form-control skins-price"
                                                            name="cases_skins_skins[{{ skins.skins_id }}][price]"
                                                            value="{{ skins.steam_price }}"
                                                            placeholder="Цена скина" />
                                                </div>
                                                <button
                                                        class="btn btn-danger remove-skins-rarity"
                                                        type="button"
                                                        data-skins-id="{{ skins.skins_id }}"
                                                        data-rarity-id="{{ rarityId }}">
                                                    Удалить
                                                </button>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <h3>Фильтр по скинам кейса:</h3>
                    <div class="form-group">
                        {{ form_label(formFilter.name) }}
                        <div class="sonata-ba-field sonata-ba-field-standard-natural">
                            <div class="input-group">
                                {{ form_widget(formFilter.name, {'attr': {'class': 'form-control'}}) }}
                                <span class="input-group-btn">
                                    <button id="send-filter" class="btn btn-primary" type="button">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                {{ form_label(formFilter.decor) }}
                                <div class="sonata-ba-field sonata-ba-field-standard-natural">
                                    {{ form_widget(formFilter.decor, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                {{ form_label(formFilter.quality) }}
                                <div class="sonata-ba-field sonata-ba-field-standard-natural">
                                    {{ form_widget(formFilter.quality, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                        </div><div class="col-lg-4">
                            <div class="form-group">
                                {{ form_label(formFilter.itemSet) }}
                                <div class="sonata-ba-field sonata-ba-field-standard-natural">
                                    {{ form_widget(formFilter.itemSet, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                        </div><div class="col-lg-4">
                            <div class="form-group">
                                {{ form_label(formFilter.rarity) }}
                                <div class="sonata-ba-field sonata-ba-field-standard-natural">
                                    {{ form_widget(formFilter.rarity, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                        </div><div class="col-lg-4">
                            <div class="form-group">
                                {{ form_label(formFilter.weapon) }}
                                <div class="sonata-ba-field sonata-ba-field-standard-natural">
                                    {{ form_widget(formFilter.weapon, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                        </div><div class="col-lg-4">
                            <div class="form-group">
                                {{ form_label(formFilter.typeSkins) }}
                                <div class="sonata-ba-field sonata-ba-field-standard-natural">
                                    {{ form_widget(formFilter.typeSkins, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <h3>Список скинов в кейсе:</h3>
                    <div class="row">
                        <div id="load-skins-img" class="col-md-12 text-center hidden">
                            <img src="{{ asset('bundles/app/image/ajax-loader.gif') }}" />
                        </div>
                    </div>
                    <div id="cases-list" class="row top20">
                        {% for casesSkins in listCasesSkins.list_skins %}
                        <div id="skins-check-{{ casesSkins.skins_id }}" class="col-lg-2">
                            <div
                                    class="thumbnail skins {% if casesSkins.is_skins_case %}check-skins{% endif %}"
                                    data-skins-id="{{ casesSkins.skins_id }}"
                                    data-rarity-id="{{ casesSkins.rarity_id }}"
                                    data-skins-name="{{ casesSkins.name }}"
                            >
                                <img src="{{ asset(casesSkins.icon_url) }}" alt="{{ casesSkins.name }}">
                                <div class="caption">
                                    <h5>{{ casesSkins.name|strlen(25) }}</h5>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="row">
                        {% set offset = app.request.query.get('offset', 0) %}
                        {% set limit = app.request.query.get('limit', 18) %}
                        {% set countPage = (countSkins / limit)|round(0, 'ceil') %}
                        <div class="col-md-12">
                            <nav aria-label="Page navigation">
                                <ul class="pagination">
                                    {% set currentPage = (limit - offset) / countPage %}
                                    {% for page in range(1, countPage) %}
                                        <li {% if page == '' %}class="active"{% endif %}>
                                            <a
                                                    class="page-button"
                                                    href="#"
                                                    aria-label="Previous"
                                                    data-page="{{ page }}"
                                                    data-offset="{{ offset }}"
                                                    data-limit="{{ limit }}">
                                                {{ page }}
                                            </a>
                                        </li>
                                        {% set offset = limit + offset %}
                                    {% endfor %}
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sonata-ba-form-actions well well-small form-actions">
            {{ form_widget(form.submit, {'attr': {'class': 'btn btn-success'}}) }}
        </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/admin/js/cases-skins.js') }}" type="application/javascript"></script>
{% endblock %}
